<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tsnt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.LimitScrollEditText.LimitScrollEditTextActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".androidbase.service_lifecycle.TestService" />
        <service android:name=".androidbase.intentservice.MyIntentService" />

        <activity
            android:name=".androidbase.service_lifecycle.Service1Activity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".androidbase.service_lifecycle.Service2Activity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".androidbase.service_lifecycle.Service3Activity"
            android:launchMode="singleInstance" />
    </application>

</manifest>