<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tsnt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".homepage.HomePageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- IntentService -->
        <service android:name=".android_base.intentservice.MyIntentService" />

        <activity
            android:name=".android_base.intentservice.TestIntentServiceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- ServiceLifecycle -->
        <service android:name=".android_base.service_lifecycle.TestService" />

        <activity
            android:name=".android_base.service_lifecycle.ServiceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".android_base.service_lifecycle.Service1Activity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".android_base.service_lifecycle.Service2Activity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".android_base.service_lifecycle.Service3Activity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <!-- MaterialDesign -->
        <activity
            android:name=".view.material_design.CoordinatorLayoutTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.material_design.AppBarLayoutTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.material_design.CollapsingToolbarLayoutTestActivity1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.material_design.CollapsingToolbarLayoutTestActivity2"
            android:screenOrientation="portrait" />

        <!-- ImageLoader -->
        <activity
            android:name=".bitmap.ImageLoader.ImageLoaderActivity"
            android:screenOrientation="portrait" />

        <!-- View -->
        <activity
            android:name=".view.auto_fixed_layout.AutoFixedLayoutTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.banner.BannerTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.base.ViewTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.gauge.GaugeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.horizontal_scollview.Demo1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.horizontal_scollview.Demo2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.limit_scroll_edittext.LimitScrollEditTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.self_adapting_view_pager.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.auto_line_feed_layout.AutoLineFeedLayoutTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.gluttonous_snake.GluttonousSnakeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.horizontal_percent_view.HorizontalPercentViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.generate_poster.GeneratePosterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.circle_imageview.CircleImageViewTestActivity"></activity>
    </application>

</manifest>